header {
    display: flex;
    justify-content: center;
}

h1,
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin-left: 5%;
}

h2 {
    background-color: gray;
}

.img,
img {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 50px;
    margin-left: 10%;
}

.text {
    text-align: justify;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 20px;

}

@media (max-width:768px) {

    main {
        flex-direction: column;
    }


    p, .text {
        font-size: 24px;
        text-align:center;
        margin-right: 0;
        margin-left:  0;
        line-height: 1.5;
    }

    p::first-letter{
        font-size: 50px;
    }

    .img {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        margin: 0;
    };
  
}