
  * {
    margin: 0;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

  img, picture, video, canvas, svg {
    max-width: 100%;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    color: rgb(44, 2, 2);
    font-size: 2rem;
    font-weight: bold;
  }

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    background-color: rgba(122, 3, 3, 0.867);
    padding: 50px;
    border-radius: 20px;
}

img {
  width: 200px;
  height: 200px;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 100%;
  background-color: rgb(131, 114, 4)

}

button {
  background-color: rgba(248, 143, 5, 0.849);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(77, 5, 5);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  height: 50px;
  padding: 20px;
  cursor: pointer;
}

#container-images{
  width: 200px;
  height: 200px;
  padding: 40px; 
  position: relative;
  transform-style: preserve-3d;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 60vw;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.head-counter, .tail-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tail{
transform: rotateX(180deg)
}

@keyframes spin-tails {
0%{
  transform: rotateX(0);
}
100%{
  transform: rotateX(1980deg);
}
}

@keyframes spin-heads {
  0%{
    transform: rotateX(0);
  }
  100%{
    transform: rotateX(2160deg);
  }
  }

