html {
    font-size: 16px; 
  }

  p {
    line-height: 1.75;
    text-align: left;
  }


 ul.list-group-style {
    list-style-type: square;
    line-height: 1.75;
 } 

 #features{
    margin-bottom: 5%;
 }

.bg-pink{
background-color: #FF4B63;
}

.btn-download-filled{
    width: 185px;
    max-height: 80px;
    background-color: #FF4B63;
    border: none;
    color: #FFFF;
}

.fa-apple, .fa-google-play{
    margin-right: 5%;
}

.container-circles{
    display: flex;
    justify-content: space-between;
}

.container-white-circle-left{
    background-image: url(../../src/assets/img//decorative-half-white-circle-left.png);
    background-size: cover;
    width: 160px;
    height: 355px;
    display: flex;
    justify-content: space-between;
    margin-top: -2%;
}

.blue-circle{
    max-height: 51px;
    margin-left: 25%;
}

.container-white-circle-right{
    background-position-x: left;
    display: flex;
    width: 80px;
    height: 195px;
    margin-top: -8%; 
}

.container-img-phone{
    width: 560px;
    max-height: 335px;
    margin-top: 5%;
}  

.container-img-phone img{
    width: 100%;
    height: 100%;
}

.content-fa-justify{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content-fa-size-bg{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.content-fa-size-bg-goals{
    background-color: #E8E3F9;
}

.content-fa-size-bg-situation{
    background-color: #D5F2ED;
}

.content-fa-size-bg-task{
    background-color: #F7E1E7;
}

.content-fa-size-bg-social{
    background-color: #F7EFD9;
}
    
.content-fa-size-bg-rocket{
     background-color: #DDF0F9;
}

.description-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .description-container .description-container-content {
    height: 600px;
    width: 500px;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .description-container .description-container-content-img {
    height: 530px;
    width: 455px;
    object-fit: cover;
  }

  .description-container-buttons-top{
    width: 400px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
  }

  .btn-description{
    width: 150px;
    height: 45px;
    background-color: #FEF9FD;
    border: none;
  }

  .btn-description:hover{
    background-color: #8F56E3;
    color: #ffff;
    transition: all 600ms ease;
  }

  .description-container-buttons-bottom{
    width: 120px;
    height: 40px;
    display: flex;
    gap: 4%;
  }

.container-logos {
max-width: 1000px;
height: 130px;
}

.description-container-bottom{
  width: 1440px;
}
