body {
    background-image: url(wood.jpg);
    background-size: cover;
    margin: 0 auto;
    text-align: center;
}

section {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}


.colores-fondo {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    height: 200px;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.section2{
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

ul {
    margin: 0 auto;
}

.horizontal-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 28px;   
    font-weight:bolder;
    justify-content: center;
}

.horizontal-list li {
    padding-right: 20px;
 
}

