.container-icons-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    max-width: 1920px;
  }
  
  .container-box {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container-box-icon {
    width: 100px;
    height: 100px;
  }