@media only screen and (max-width: 1023px) {
  .navbar {
    height: 20% !important;
  }

  .container-logo img {
    width: 100%;
  }

  .container-paragraph {
    margin-top: -30%;
  }

  .container-bottom-download {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-figures {
    margin-top: 10rem;
  }

  .container-white-circle-right {
    background: contain;
    background-repeat: no-repeat;
    width: 97px;
    height: 238px;
  }

  .container-white-circle-right-bottom {
    width: 97px;
    height: 238px;
    margin-top: -30%;
  }

  .container-left-white-circle{
height: 400px;
  }

  .container-white-circle-left-bottom {
    width: 97px;
  }

  .blue-circle-bottom {
    width: 20px;
    height: 100%;
  }

  .yellow-circle {
    width: 20px !important;
  }

  .container-img-phone {
    width: auto;
    height: 100%;
  }

  .description-container-row {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: left;
  }

  .description-container-section-left,
  .description-container-section-right {
    width: 100% !important;
    padding: 0 !important;
  }

  .description-container-section-left {
    display: flex;
    justify-content: end;
  }

  .menu {
    width: 100vw;
    overflow: hidden;
  }

  .menu ul {
    overflow-x: auto;
    width: 100%;
  }

  .container-cards-row {
    flex-wrap: wrap;
    align-items: center;
  }

  .container-card {
    margin: 0;
    width: 100% !important;
  }

  .container-box {
    width: 50%;
    height: auto;
  }

  .container-icons-bottom {
    flex-wrap: wrap;
    padding: 20px;
    height: 100%;
  }

  .description-container-text {
    width: 100% !important;
  }

  .description-container-row {
    padding: 20px;
  }

  .description-container-buttons-top {
    width: 100% !important;
  }

  .description-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-buttons-download {
    flex-wrap: wrap;
  }

  .container-buttons-download button {
    width: 100%;
  }

  .logo {
    padding: 5% 2%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .description-container-content-img {
    width: 100px;
    height: 100px;
  }

  .buttons-container {
    width: 100%;
  }

  .container-footer-top,
  .container-footer-list {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-footer-top-left {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .container-footer-top-right {
    width: 100%;
    padding: 10px;
    justify-content: center;
  }
}
