.navbar {
    width: 100vw;
    height: 14%;
    top:0;
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    background-color: #f7fafd;
  }

  .navbar img{
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .dropdown-item {
    background-color: #f7fafd;
  }

.dropdown-menu.show{
  background-color: #f7fafd;
}

  .nav-link{
    z-index: 22;
    background-color: #f7fafd;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .nav-menu{
justify-content: end;  
margin-right: 2rem;
}