@import url(../public/animations.css);
@import url(../public/buttons.css);
@import url(../public/colors.css);
@import url(../public/footer.css);
@import url(../public/mainTitleSection.css);
@import url(../public/mediaqueries.css);
@import url(../public/text.css);
@import url(../public/mainTitleSection.css);
@import url(../public/containerIcons.css);
@import url(../public/nav.css);
@import url(../public/description.css);
@import url(../public/features.css);
@import url(../public/cardsContainer.css);
@import url(../public/containerLogos.css);
@import url(../public/containerIconsBottom.css);
@import url(../public/screens.css);

html {
  font-size: 16px;
  width: 100vw;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #f7fafd !important;
}

main{
  width: 100%;
  max-width: 1920px;;
}